{% extends 'base.html.twig' %}
{% block body_id 'organization_list' %}

{% block title %}Listado de organizaciones{% endblock %}

{% block main %}
    <h1>Listado de organizaciones</h1>

    <div class="navigation">
        {{ knp_pagination_render(organizations) }}
    </div>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th>Id</th>
                <th><i class="fa fa-home"></i> </th>
                <th>{{ 'title.organization_identifier'|trans|raw }}</th>
                <th><i class="fa fa-calendar-alt"></i> </th>
                <th> <i class="fa fa-user-alt"></i> <i class="fa fa-envelope"></i> </th>
                <th><i class="fa fa-check"></i> <i class="fa fa-times"></i> </th>
                <th><i class="fa fa-cogs"></i> </th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id  }}</td>
                <td>{{ organization.name }}<br/>
                {{ organization.address }}</td>
                <td>{{ organization.identifier }}</td>
                <td>{{ organization.createdAt ? organization.createdAt|date('Y-m-d H:i:s') : '' }}<br />
                    {{ organization.updatedAt ? organization.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ organization.responsable }}<br/>
                {{ organization.email }}</td>
                <td>{{ organization.isActive ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</td>
                <td>
                    <a href="{{ path('organization_show', {'id': organization.id}) }}">
                    <i class="fa fa-eye"></i>    {{ 'action.show' | trans }}
                    </a>
                    <a href="{{ path('organization_edit', {'id': organization.id}) }}">
                    <i class="fa fa-edit"></i>    {{ 'action.edit' | trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No se encontraron organizaciones registradas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block sidebar %}
    {% if (is_granted('ROLE_ADMIN')) %}
        <div class="section actions">
            <a href="{{ path('organization_new') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_organization'|trans }}
            </a>
            <a href="{{ path('enlace_corto_index') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-list" aria-hidden="true"></i> {{ 'action.list_enlacecorto'|trans }}
            </a>
        </div>
    {% endif %}

    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
        'template': 'blog/organization.html.twig',
        'sharedAge': 600,
        '_locale': app.request.locale
    })) }}

{#    {{ parent() }}#}


{% endblock %}