{% extends 'base.html.twig' %}

{% block title %}{{ 'title.organization_new' | trans }}{% endblock %}

{% block main %}
    <h1>{{ 'title.organization_new' | trans }}</h1>

    {{ include('organization/_form.html.twig') }}


{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('organization_index') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-backward" aria-hidden="true"></i> {{ 'action.back_to_list_generic' | trans }}
        </a>
    </div>
{% endblock %}
