<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{{ app.request.host }}{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">

        {% block stylesheets %}
        {% endblock %}

<style>
    html,
    body {
        height: 100%
    }
</style>
{#        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        {% include('default/_favicon_html.twig') %}
    </head>

    <body id="{% block body_id %}{% endblock %}">
    <div class="container-fluid h-100 d-flex align-items-center justify-content-around">
        {% block header %}
        {% endblock %}
    </div>


        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
